#player-name {
    display: none
}

#timer {
    display: flex;
    justify-content: end;
}

h1 {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
}


li {
    width: 300px;
}

li:hover{
opacity: 70%;
cursor:pointer;
}

#button-container{ 
    display: flex;
    justify-content: center;
}

#startOver{
    display: none;
}

#scoresBox{
    display: flex;
    justify-content: center;
}

#highScores{
     text-decoration: underline;
}

#highScores:hover{
    cursor: pointer;
}